/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;
}

.clear {
    clear: both;
}

#main {}

.snowflake {
    position: absolute;
    top: -50px;
    /* Bắt đầu phía trên */
    left: 0;
    animation: fall linear;
    color: #004080;
    /* Màu trắng với độ trong suốt nhẹ */
    z-index: 999;
    /* Đảm bảo tuyết nằm trên nội dung */
    pointer-events: none;
    /* Không cản trở người dùng tương tác */
}

@keyframes fall {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(160vh);
        opacity: 1.5;
    }
}


#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: black;
    z-index: 1;
}

#header .mobile-menu-btn {
    display: none;
}

#nav>a {
    float: right;
    line-height: 46px;
    padding: 0px 24px;
}

#nav>a:hover {
    background-color: red;
}

.fa-search {
    color: #fff;
}

#nav li {
    position: relative;
    display: inline-block;
}

#nav,
.subNav {
    list-style-type: none;
}

#nav>li>a {
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
    text-transform: uppercase;
}

#nav li:hover .subNav {
    display: block;
}

#nav>li:hover>a,
.subNav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav .subNav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.subNav li {
    width: 100%;
}

.subNav li a {
    display: block;
    padding: 8px 16px;
    color: #000;
    text-decoration: none;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    /* text-align: center; */
    /* background: url("/assets/images/team1.jpeg") top center / cover no-repeat; */
}

/* #slider .text-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 32px;
    color: #fff;
} */

#slider .text-content img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#slider .text-content .text-heading {
    position: absolute;
    bottom: 57px;
    margin: 10px 0;
    font-weight: 400;
    width: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 5px #000;
}

#slider .text-content .text-description {
    position: absolute;
    bottom: 32px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 5px #000;
}

#content {
    position: relative;
    overflow: hidden;
}

#content .content-section,
#content .tour .content-section-tour {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}

#content .content-section .heading-section,
.tour .content-section-tour .heading-section-tour {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 30px;
}

#content .content-section .section-sub-heading,
#content .content-section-tour .section-sub-heading-tour {
    font-style: italic;
    opacity: 0.60;
    margin-top: 25px;
    font-size: 15px;
}

#content .content-section .about {
    text-align: justify;
    line-height: 1.5;
    margin-top: 15px;
    font-size: 15px;
}

#content .content-section .heading-section,
#content .content-section .section-sub-heading,
.tour .content-section-tour .heading-section-tour,
.tour .content-section-tour .section-sub-heading-tour {
    text-align: center;
}

.content-section .images-girl {
    margin-top: 47px;
    text-align: center;
    display: grid;
    grid: auto / auto auto auto;

}

.overlay {
    position: absolute;
    top: 49.9px;
    right: 54px;
    width: 148px;
    height: 175px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

.content-section .images-girl .images-girl-one:hover .overlay,
.content-section .images-girl .images-girl-two:hover .overlay,
.content-section .images-girl .images-girl-three:hover .overlay,
.content-section .images-girl .images-girl-four:hover .overlay,
.content-section .images-girl .images-girl-five:hover .overlay {
    transform: scale(1);
    cursor: pointer;
}

.content-section .images-girl a {
    text-decoration: none;
    display: inline-block;
}

.content-section .images-girl i {
    padding: 5px 3px;
    color: #000;
    font-size: 26px;
}

.content-section .images-girl i:hover {
    opacity: 0.60;
}

.content-section .images-girl .images-girl-one,
.content-section .images-girl .images-girl-two,
.content-section .images-girl .images-girl-three,
.content-section .images-girl .images-girl-four,
.content-section .images-girl .images-girl-five {
    position: relative;
    max-width: 255px;
}

.images-girl .images-girl-one p,
.images-girl .images-girl-two p,
.images-girl .images-girl-three p,
.images-girl .images-girl-four p,
.images-girl .images-girl-five p {
    text-align: center;
    margin: 15px 0;
}

.images-girl .images-girl-one img,
.images-girl .images-girl-two img,
.images-girl .images-girl-three img,
.images-girl .images-girl-four img,
.images-girl .images-girl-five img {
    width: 148px;
    height: 175px;
    object-fit: cover;
}

.introduce-team video {
    max-width: 49%;
    padding: 32px 16px;
}

#content .tour {
    background-color: #000;
}

#content .content-section-tour .heading-section-tour {
    color: #fff;
}

#content .content-section-tour .section-sub-heading-tour {
    color: #fff;
}

.video {
    padding: 32px 8px;
    width: 50%;
    float: left;
}

.video .video-list {
    background-color: #fff;
    border-color: #fff;
    border-style: double;
}

.video .video-list h2,
.video .video-list .date,
.video .video-list .about-video {
    padding: 0 16px;
    margin: 15px 0;
}

.video .video-list .about-video {
    padding-bottom: 16px;
}

.video .video-list h2 {
    font-size: 15px;
}

.video .video-list video {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.video .video-list .date {
    opacity: 0.60;
}

#footer {
    text-align: center;
    padding: 32px 16px;
}

#footer p {
    margin: 15px 0;
    font-size: 15px;
    opacity: 0.70;
}

#footer i {
    font-size: 30px;
    margin: 0 4px;
    color: #000;
}

#footer i:hover {
    opacity: 0.50;
}